section {
    height: 120vh;
}
div {
    color: white;
}
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #df271a, #52290e);
}
h1 {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {font-size: 100px;
}
h2 {font-size: 40px;
}
.hero-section {
    display: flex;
    gap: 200px; 
    justify-content: center;
    margin-top: 50px;
}
.section-center {
    display: flex;
    justify-content: center; align-items: center;     
    background: #d36217;
}
h3 { display: flex;
    justify-content: space-around;
} 
h3 {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h4 {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h3 {font-size: 30px;
}
h4 {font-size: 60px;
}
.about-section {
    background: #e2be8f;
    display: flex;
    justify-content: space-between;
    
}
h5 {font-size: 150px;
}
p {font-size: 60px;
}
h5 {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h5 {
    display: flex;
    justify-content: center; align-content: center;
}
p { 
    margin: 90px;
}
p {font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
#Img_2 {
width : 30vw;
height : 30vh;
max-width : 197px;
max-height : 180px;
}
.about-section p {
    color: #130e0ec7;
}
.about-section h5 {
    color: #130e0ec7;
}
#Img_1{
     height: 1000px;
}
#Img_2{
  border-radius: 50px;
}
iframe {
    border-radius: 50px;
}